* {
    font-family: Helvetica;
  }
   
   
  h1 {
    color: khaki;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-image: url('../images/pattern.jpeg');
    margin-bottom: 60px;
  }

  h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-weight: normal;
  }